.sizeeed{
    height: 850px ;
    
}

.tm{
    width: 50px;
}

nav{
    background: rgb(255, 195, 85) ;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

.op{
    width: 200px;
    padding-bottom: 30px;
    margin-left: 80px;
}

.as{
    margin-top: 10px;
}